@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Raleway", sans-serif;

  --color-primary: #d0ad50;
  --color-secondary: #DBC078;
  --color-tertiary: #e6d3a0;
  --color-default: #2b180d;

  --color-bg-primary: #000;
  --color-bg-secondary: #0a0a0a;
  --color-bg-tertiary: #232323;

  scroll-behavior: smooth;

  --header-offset: 180px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: url("/img/home/hero-img.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding: var(--header-offset) 0 0; /* pushes content below header */
  z-index: 3;
}
